/* Basic stylesheet for Portfolio project */

body {
    background-color: moccasin;
}

.Box {
  width: 20em;
  margin: 1em;
  padding: 2em;
  }

.errorBox {
  border: 1px solid red;
  background-color: #eebbbb;
  }

.successBox {
  border: 1px solid green;
  background-color: #bbeebb;
}

.hiddenBox {
  display: none;
}
